@import '../../variable.scss';

.section{
    .container-project{
        .content-project{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
            @extend %heading ;    
            .project-main{
                margin-top: 6rem;
                height: 53rem;
                width: 100rem;
                padding: 3rem;
                display: flex;
                .mid{
                   flex: 0;
                   padding: 3rem;
                   .video-main{
                    height: 500px;
                    width: 500px;
                    background-size: 100%;
                    background: url(../../assets/laptop.png) no-repeat;
                    position: relative;
                    z-index: 999;
                    .paused{
                        position: absolute;
                        top: 10px;
                        left: 50px;
                        font-size: 1.1rem;
                        color: $hoverColor;
                        width: 400px;
                        height: 263px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        z-index: 9999;
                        border: 1px solid black;
                        border-width: 10px 5px 12px 5px;
                        -webkit-border-radius: 10px 10px 3px 0px;
                        animation: bg-blur 5s;
                        backdrop-filter: blur(2px);
                        .icon{
                            color: white;
                            width: 32px;         
                        }
                        @keyframes bg-blur {
                            0% {
                                opacity: 0;
                              }
                              100% {
                                visibility: visible;
                                
                              }
                        }         

                    }
                    video{
                        position: absolute;
                        top: 10px;
                        left: 50px;
                        border: 1px solid black;
                        border-width: 10px 5px 12px 5px;
                        -webkit-border-radius: 10px 10px 3px 0px;
                    }      
                   }
                    
                }
                .right{
                    flex: 1;
                    background-color: yellow;
                }
            }    
        }
       
    }
}