@import '../../variable.scss';

.topbar{
    font-size: 1.7rem;
    width: 100%;
    height: auto;
    padding: 25px 40px 25px 50px;
    background-color: white;
    color: #2d2e32;
    position: fixed;
    top: 0;
    z-index: 9;
    transition: all 1s ease;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
    display: flex;
    align-items: center;
            @media (min-height:600px) and (max-height:800px) {
                padding: 15px 30px 15px 40px;
            }
            h3{
                @include moblie{
                    visibility: hidden;
                 }
                display: block;
                font-size: 1.17em;
                cursor: pointer;
                text-decoration: none;
                font-weight: 700;
                color: inherit;
                unicode-bidi: isolate;
            }          
        }
      
    
       

