@import '../../variable.scss';

.about{
    .container-about{
    .content-about{
       
        display: flex;
        flex-direction: column;
        align-items: center;
        @extend %heading;   
        .about-content{
           @include laptop(){
            width: 90%;
           }
           @include tablets(){
            flex-direction: column;
           }
            margin: 11rem 15% 0;
            display: flex;
            gap: 10rem;
            height: 50rem;
            position: relative;
            @include moblie{
                flex-direction: column;
                width: 100%;
                max-width: 35rem;
                margin: 5rem ;
                gap: 6rem;
                height: auto;
            }
            h3{
                @include moblie{
                    font-size: 2rem;
                 }
                color: $textColor;
                font-size: 2.6rem;
                font-weight: 700;
            }
            .left-detail{
              
                @include moblie{
                   align-items: center;
                   margin-top: 3rem;
                }
                margin-top: 3.5rem;
                max-width: 60rem;
                margin-bottom: 3rem;
                p{
                    @include moblie{
                        font-size: 1.5rem;
                     }
                    margin-top: 2rem;    
                    font-size: 1.7rem;   
                    font-weight: 400;
                    color: #555;
                    a{
                        color: $hoverColor;
                        font-weight: 700;
                        &:nth-of-type(1){
                            margin: 0 3px;
                        }
                        &:nth-of-type(2){
                            margin-right: 3px;
                        }
                    }
                }
            }
            .btn{
                @include moblie{
                    display: inline-block;
                    margin-top: 1rem;
                }
                letter-spacing: 1px;
                font-size: 1.6rem;
                padding: 1.5rem 5rem;
                border-radius: 5px;
                font-weight: 700;
                color: #fff;
                text-decoration: none;
                background-color: $hoverColor;
                box-shadow:0 5px 15px 0 rgba(0,0,0,0.15);
            }
            .about-right{
                h3{
                    @include moblie{
                        font-size: 2rem;
                     }
                    color: $textColor;
                    font-size: 2.6rem;
                    font-weight: 700;
                }
                .right-detail{
                    color: #555;
                    margin-top: 3.5rem;
                    li{
                        text-transform: uppercase;
                        list-style: none;
                        margin-top: 2rem;
                        span{
                            @include moblie{
                                width: 30rem;
                             }
                            display:inline-block;
                            background: #fff ;
                            width: 50rem;
                            height: 2rem;
                            border-radius: 10px;
                            box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                            transition: all 1s ;
                            > *{
                            background: $hoverColor; 
                            }
                            .html{
                                animation: html 5s;
                                width: 90%;
                            }
                            .css{
                                animation: css 5s;
                                width: 60%;
                            }
                            .javascript{
                                animation: javascript 5s;
                                width: 70%;
                            }
                            .react{
                                animation: react 5s;
                                width: 80%;
                            }
                            .nodejs{
                                animation: nodejs 5s;
                                width: 50%;
                            }
                            }
                            @keyframes html {
                                0%{
                                    width: 0%;
                                }
                                30%{
                                    width: 0%;
                                }
                                100%{
                                    width: 90%;
                                }
                            }
                            @keyframes css {
                                0%{
                                    width: 0%;
                                }
                                30%{
                                    width: 0%;
                                }
                                100%{
                                    width: 60%;
                                }
                            }
                            @keyframes javascript {
                                0%{
                                    width: 0%;
                                }
                                30%{
                                    width: 0%;
                                }
                                100%{
                                    width: 70%;
                                }
                            }
                            @keyframes react {
                                0%{
                                    width: 0%;
                                }
                                30%{
                                    width: 0%;
                                }
                                100%{
                                    width: 80%;
                                }
                            }
                            @keyframes nodejs {
                                0%{
                                    width: 0%;
                                }
                               30%{
                                    width: 0%;
                                }
                                100%{
                                    width: 50%;
                                }
                            }
                        }
                      
                }
               
            }
        }   
     }
}
      
}