@import '../../variable.scss' ; 

.section{
    .container-contact{
    margin: 0 auto ;
    padding: 3rem;
    .content-contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @extend %heading;   
        .contact-form-main{
            display: flex;
            gap: 10rem;
            margin-top: 6rem;
            background: #fff;
            height: 53rem;
            width: 100rem;
            box-shadow: 0px 7px 29px 0px #d6d6d6;
            padding: 3rem;
            .form-right{
                width: 50%;
            form{
                label{
                    margin-top: 30px;
                    display: block;
                    letter-spacing: 1px;
                    font-size: 1.2rem;
                    font-weight: 700;
                    input{
                        font-weight: 500;
                        font-size: 1.3rem;
                        padding: 2rem;
                        width: 100%;
                        height: 100%;  
                        background: #f0f0f0;
                        margin-top: 1rem;
                        display: block;  
                        border: 1px solid #ebebeb  ;
                        border-radius: 5px;
                        letter-spacing: 0px;
                    }
                    input:focus{
                        outline: none;
                    }
                    textarea{
                        @extend input ;
                        display: block;
                        width: 100%;
                        height: 14rem;
                        resize: none;
                    }
                }
                label:nth-child(1){
                    margin-top: 0px;
                }
                .btn{
                    margin-top: 2rem;
                    padding: 1rem 2rem;
                    background-color: $hoverColor;
                    color: #fff;
                    border-radius: 5px;
                    font-size: 2rem;
                    font-weight: 700;
                    letter-spacing: 1px;
                    border: none;
                    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
                    text-transform: uppercase;
                    cursor: pointer;    
                    transition: transform 0.3s;
                    &:hover{
                        transform: translateY(-0.5rem);       
                    }
                }
            }
        }
        .form-left{
            width: 50%;
            .box-icon{
                margin-top: 2.5rem;
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 1.5rem;
                span{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #fff;
                    border-radius: 50%;
                    width: 5rem;
                    height: 5rem;
                    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
                    color: $hoverColor;
                    .icon{
                        width: 30px;
                        height: 30px;            
                    }
                }
                .box-detail{
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    h3{
                        font-size: 1.7rem;
                    }
                    p{
                        cursor: pointer;
                        color: #767676;
                        font-size: 1.7rem;
                        &:hover{
                            color: $hoverColor;
                        }
                    }
                }
            }

            // h3{
            //     font-size: 1.3rem;
            //     font-weight: 700;
            //     width:inherit;
            //     margin: 0 auto;
            // }
            // p{
            //     margin-top: 3rem;
            //     font-weight: 500;
            //     font-size: 1.5rem;
            //     color: #333;   
            //     display: flex;
            //     align-items: center;
            //     position: relative;
            //      &:nth-of-type(4){
            //         &::after{
            //         width:0;
            //         height:0;
            //         content: '';
            //         }
            //         .icon{
            //             color: #333;
            //             bottom: 1px;
            //             right: 10rem;
            //             position: absolute;            
            //         }
            //         }   
            //         span{
            //             display: flex;
            //             justify-content: center;
            //             align-items: center;
            //             height: 5rem;
            //             width: 5rem;
            //             background-color: #fff;
            //             border-radius: 50%;
            //             box-shadow: 0 0 10px rgba(0, 0, 0, .1);
            //             .icon{
            //                 width: 30px;
            //                 height: 30px;
            //             }        
            //         }
               
               
            //}
            
            
        }
        }
    }
  
}
}