@import './variable.scss';
.section{
  @media (min-height:600px) and (max-height:800px) {
    padding-top: 6rem;
}
  padding-top: 8rem;
  background-color: #f9f9f9;
}
.fp-watermark{
  display: none;
}
#header{
  top:0px;
}
.fp-table{
  justify-content: unset !important;
}
.fp-overflow {
    outline: 0;
    height: 100%;
}
.fp-slidesNav.fp-bottom{
  @include moblie{
    bottom: -1rem !important;
  }
  @include laptop(){
        
    @media (min-height:550px) and (max-height:600px){
      bottom: -1rem !important;
   }
    @media (min-height:600px) and (max-height:900px){
     bottom: -1rem !important;
    }
 }
  display:flex;
  align-items:center;
  justify-content:center;
    li{
      width: 30px;
      height: 10px;
      border-radius: 20px;
      border: 1.5px solid #666;
      margin-right: -2px;
      a.active{
        transition: 0.5s;
        background-color: $hoverColor ;
      }
      span{
        display: none;
      }
    }
 
}
#fp-nav.fp-right{
  @media (min-height:600px) and (max-height:800px) {
    top: 5rem;
}
  width: 33rem;
  top: 6rem;
  height: 8rem;
  @include moblie{
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  ul{
    font-size: 1.7rem;
    font-weight: 600;
    display: flex;
    gap: 50px;
    li:nth-child(1){
      @extend  %li; 
    }
     li:nth-child(2) {
        @extend  %li; 
        a::before{
          content: "About"
        }
    }
    li:nth-child(3){
      @extend  %li; 
      a::before{
        content: "Project"
      }
    }
    li:nth-child(4) {
      @extend  %li; 
      a::before{
        content: "Contact"
      }
  }
    
  }
}
  




