$hoverColor: #147efb ;
$textColor: #2d2e32 ;
$maincolor: #f9f9f9 ;

$width-moblie: 1200px; 

%li{
    a.active:before{
      color: $hoverColor ;
    }
    a::before{
      color: $textColor;
      content: "Home"
    }
    a:hover:before{
    transition: 0.5s;
      color: $hoverColor ;
    }
    span{
      display: none;
    }
  };
  
%heading{
  .heading-main{
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 4rem;
           .heading-top{
            @media (max-width: $width-moblie) {
              font-size: 3.3rem;
              max-width: 36rem;
           }
            font-size: 4rem;
            text-transform: uppercase;
            letter-spacing: 3px;
            text-align: center;
            color: $textColor;
            position: relative;
            &::after{
                content: '';
                height: 5px;
                width: 3rem;
                background: $hoverColor;
                position: absolute;
                border-radius: 5px;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                top: calc(100% + 1.5rem);
            }
           }
           .heading-bottom{
            @media (max-width: $width-moblie) {
              font-size: 1.5rem;
              max-width: 36rem;
           }
            color: #555;
            text-align: center;
            font-size: 2rem;
            font-weight: 100;
            max-width: 80rem;
            line-height: 1.6;
           }
}
}

@mixin moblie{
  @media (max-width: $width-moblie) {
     @content ;
  }
};
@mixin tablets{
  @media (min-width: 768px) and (max-width: 991px) {
    @content ;
 }
}
@mixin laptop(){
@media (min-width: 992px) and (max-width: 1700px) {
  @content
}
}

@mixin slide-height(){
  $height-slide: 667px,844px, 932px, ;
  @each $height in  $height-slide {
    @media (min-height: $height ){
      @if($height == 667px){
        height: calc($height - 25.8rem) ;
      }@else if($height == 944px){
        height: calc($height - 20rem) ;
      }
      @else{
        height: calc($height - 19.8rem) ;
      }
    }
  }
  
}
